body {
  font-family: "Futura PT Web Book", sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #333;
}

section {
  padding: 0 2vw 0 3vw;
  max-width: 35em;
}

@media print {
  section {
    max-width: none;
  }
}

h1 {
  padding: 0 2vw 0 3vw;
  font-size: 48px;
  margin: 0.5em 0;
}

blockquote {
  margin: 0;
  padding: 0 2em;
}

blockquote:first-letter {
  margin-left: -0.45em;
}

p, ul, li {
  font-size: 18px;
  line-height: 1.4;
}

code {
  background: #eee;
  padding: 0.25em;
  font-size: 0.8em;
}

.author {
  padding-left: 2em;
}
